Repository maikvandergaag/msft-bicep: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/modules/registry-build-pipeline.yml, .pipelines/templatespecs/ts-certifiedfunction.yml

.pipelines/modules/bicep-build-pipeline.yml:

trigger:
  paths:
    exclude:
      - pipelines
    include:
      - modules
      - scripts

variables:
- group: 'bicep-docs'

stages:
  - template: templates/infrastructure.yml
    parameters:
      build: true
      documentation: true
      buildScripts: true
      analyse: true
      buildInfrastructure: false

.pipelines/modules/registry-build-pipeline.yml:

trigger:
  paths:
    exclude:
      - pipelines
    include:
      - bicep/registry
      - modules/contrainerregistry

stages:
  - template: templates/infrastructure.yml
    parameters:
      build: true
      documentation: false
      buildScripts: true
      buildInfrastructure: true
      analyse: true
      modulesPath: '$(System.DefaultWorkingDirectory)/modules/'
      iacpathInfrastructure: '$(System.DefaultWorkingDirectory)/bicep/'

.pipelines/templatespecs/ts-certifiedfunction.yml:

trigger:
  paths:
    include:
      - templatespecs/certifiedfunction

pool:
  vmImage: ubuntu-latest

variables:
  - group: 'deployment-variables'
  - name: bicepPath
    value: "$(Build.Repository.LocalPath)/templatespecs/certifiedfunction"
  - name: fileName
    value: "certifiedfunction"
  - name: specName
    value: "az-tempspec-certifiedfunction"

extends:
  template: templates/stages-specs.yml
  parameters:
    bicepPath: '$(bicepPath)'
    fileName: '$(fileName)'
    serviceConnection: '$(serviceconnection)'
    specName: '$(specName)'
    resourceGroup: '$(resourceGroup)'
    subscription: '$(subscriptionId)'

Update README.md
  README.md
Due: none

added workflow
  .pipelines/.github/actions/buildbicep/action.yml
  .pipelines/.github/actions/deploytemplatespec/action.yml
  .pipelines/.github/workflows/ts-certifiedstorage.yml
  .pipelines/templatespecs/ts-certifiedstorage.yml
Due: none

replaced folder
  .github/actions/buildbicep/action.yml
  .github/actions/deploytemplatespec/action.yml
  .github/workflows/ts-certifiedstorage.yml
Due: none

updated
  .github/workflows/ts-certifiedstorage.yml
Due: none

added ado function
  .github/actions/buildbicep/action.yml
  .pipelines/templatespecs/templates/deploytemplatespec.yml
  scripts/Get-TemplateSpecVersion.ps1
Due: .pipelines/modules/bicep-build-pipeline.yml

updated action
  .github/actions/deploytemplatespec/action.yml
  .github/workflows/ts-certifiedstorage.yml
Due: none

cahnged
  .github/actions/deploytemplatespec/action.yml
  .github/workflows/ts-certifiedstorage.yml
Due: none

removed deprecated output
  scripts/Get-TemplateSpecVersion.ps1
Due: .pipelines/modules/bicep-build-pipeline.yml

added function
  .pipelines/modules/deploy-pipeline.yml
Due: none

added function
  scripts/Get-TemplateSpecVersion.ps1
  templatespecs/certifiedfunction/certifiedfunction.bicepparam
Due: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/templatespecs/ts-certifiedfunction.yml

Set up CI with Azure Pipelines
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated deployment
  .pipelines/modules/deploy-pipeline.yml
  templatespecs/certifiedfunction/certifiedfunction-param.bicepparam
Due: .pipelines/templatespecs/ts-certifiedfunction.yml

updated naming
  .pipelines/modules/deploy-pipeline.yml
Due: none

removed resources
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated
  templatespecs/certifiedfunction/certifiedfunction-param.bicepparam
Due: .pipelines/templatespecs/ts-certifiedfunction.yml

updated
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated with argument
  .pipelines/modules/deploy-pipeline.yml
Due: none

new update
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated to linked artifact
  .pipelines/modules/deploy-pipeline.yml
Due: none

spell check
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated to build file
  .pipelines/modules/deploy-pipeline.yml
Due: none

updated item
  .pipelines/modules/deploy-pipeline.yml
Due: none

Update deploy-pipeline.yml for Azure Pipelines
  .pipelines/modules/deploy-pipeline.yml
Due: none

update template
  templatespecs/certifiedfunction/certifiedfunction.bicep
Due: .pipelines/templatespecs/ts-certifiedfunction.yml

updated module
  modules/functionapp/functionapp.bicep
  templatespecs/certifiedfunction/certifiedfunction.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/templatespecs/ts-certifiedfunction.yml

updated module + certified function
  modules/functionapp/functionapp.bicep
  templatespecs/certifiedfunction/certifiedfunction.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/templatespecs/ts-certifiedfunction.yml

updated function
  templatespecs/certifiedfunction/certifiedfunction.bicep
Due: .pipelines/templatespecs/ts-certifiedfunction.yml

changed param
  templatespecs/certifiedfunction/certifiedfunction-param.bicepparam
Due: .pipelines/templatespecs/ts-certifiedfunction.yml

updated bicep docs
  scripts/New-BicepDocs.ps1
Due: .pipelines/modules/bicep-build-pipeline.yml

updated scripts with image
  scripts/New-BicepDocs.ps1
Due: .pipelines/modules/bicep-build-pipeline.yml

updated to image tag
  scripts/New-BicepDocs.ps1
Due: .pipelines/modules/bicep-build-pipeline.yml

added new action
  .github/workflows/br-bicepmodules.yml
Due: none

updated
  .github/workflows/br-bicepmodules.yml
Due: none

updated again
  .github/workflows/br-bicepmodules.yml
Due: none

and again
  .github/workflows/br-bicepmodules.yml
Due: none
