Repository maikvandergaag/msft-bicep: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/modules/registry-build-pipeline.yml, .pipelines/templatespecs/ts-certifiedfunction.yml

.pipelines/modules/bicep-build-pipeline.yml:

trigger:
  paths:
    exclude:
      - pipelines
    include:
      - modules
      - scripts

variables:
- group: 'bicep-docs'

stages:
  - template: templates/infrastructure.yml
    parameters:
      build: true
      documentation: true
      buildScripts: true
      analyse: true
      buildInfrastructure: false

.pipelines/modules/registry-build-pipeline.yml:

trigger:
  paths:
    exclude:
      - pipelines
    include:
      - bicep/registry
      - modules/contrainerregistry

stages:
  - template: templates/infrastructure.yml
    parameters:
      build: true
      documentation: false
      buildScripts: true
      buildInfrastructure: true
      analyse: true
      modulesPath: '$(System.DefaultWorkingDirectory)/modules/'
      iacpathInfrastructure: '$(System.DefaultWorkingDirectory)/bicep/'

.pipelines/templatespecs/ts-certifiedfunction.yml:

trigger:
  paths:
    include:
      - templatespecs/certifiedfunction

pool:
  vmImage: ubuntu-latest

variables:
  - group: 'deployment-variables'
  - name: bicepPath
    value: "$(Build.Repository.LocalPath)/templatespecs/certifiedfunction"
  - name: fileName
    value: "certifiedfunction"
  - name: specName
    value: "az-tempspec-certifiedfunction"

extends:
  template: templates/stages-specs.yml
  parameters:
    bicepPath: '$(bicepPath)'
    fileName: '$(fileName)'
    serviceConnection: '$(serviceconnection)'
    specName: '$(specName)'
    resourceGroup: '$(resourceGroup)'
    subscription: '$(subscriptionId)'

updated env
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated linting
  .github/workflows/blank.yml
Due: none

updated env
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

test
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

update
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

easy
  .github/workflows/blank.yml
Due: none

tst
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated sharig
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated to create sarif
  .github/workflows/blank.yml
  test.ps1
Due: none

updated to all files
  .github/workflows/blank.yml
Due: none

updated files
  .github/workflows/blank.yml
Due: none

updated for combined sarif
  .github/workflows/blank.yml
Due: none

updated reporting
  .github/workflows/blank.yml
  test.ps1
Due: none

updated flow
  .github/workflows/blank.yml
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated
  .github/workflows/blank.yml
Due: none

added always run
  .github/workflows/blank.yml
Due: none

changed to only changed files
  .github/workflows/blank.yml
Due: none

updated env in file
  modules/storageaccount/storageaccount.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

changed desc
  modules/sqldb/sqldb.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated action
  .github/workflows/blank.yml
Due: none

updated to always run all on main branch
  .github/workflows/blank.yml
Due: none

added graph samples
  .github/workflows/blank.yml
  extension/app-with-graph-grants/README.MD
  extension/app-with-graph-grants/app.bicep
  extension/app-with-graph-grants/grant.bicep
  extension/app-with-graph-grants/main.bicep
  extension/app-with-graph-grants/main.bicepparam
  extension/app/README.MD
  extension/app/main.bicep
  extension/app/main.bicepparam
  extension/bicepconfig.json
  extension/group-storage-reader/README.MD
  extension/group-storage-reader/main.bicep
  extension/group-storage-reader/main.bicepparam
  extension/security-group/README.MD
  extension/security-group/main.bicep
  extension/security-group/main.bicepparam
Due: none

added sample and updated for linting
  .github/workflows/linting.yml
  bicep/registry/registry.bicep
  modules/containerregistry/containerregistry.bicep
  modules/functionapp/functionapp.bicep
  modules/loganalytics/loganalytics.bicep
  modules/resourcegroup/resourcegroup.bicep
  modules/sqldb/sqldb.bicep
  modules/sqlserver/sqlserver.bicep
  templatespecs/certifiedstorage/certifiedstorage.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml, .pipelines/modules/registry-build-pipeline.yml

correct param error
  extension/app-with-graph-grants/main.bicepparam
Due: none

updated with docs
  extension/app-with-graph-grants/main.bicepparam
  extension/app/main.bicep
  extension/security-group/main.bicep
  modules/storageaccount/test.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated
  bicep/alert-rule/alert.bicep
  bicep/alert-rule/alert.json
  bicep/budget-alert/budget-alert.bicep
  bicep/budget-alert/budget-alert.bicepparam
  extension/group-storage-reader/main.bicep
  extension/group-storage-reader/main.bicepparam
Due: none

updated api versions
  bicep/alert-rule/alert.bicep
  examples/sample/sample.bicep
  modules/appconfiguration/appconfiguration.bicep
  modules/storageaccount/test.bicep
Due: .pipelines/modules/bicep-build-pipeline.yml

updated iac scan
  .pipelines/modules/templates/parts/iac-scan.yml
Due: none

updated
  .pipelines/modules/templates/parts/iac-scan.yml
Due: none

UPDATED CODE ANALYSIS
  .pipelines/modules/templates/parts/codeanalysis.yml
Due: none

removed security analyser
  .pipelines/modules/templates/infrastructure.yml
Due: none

added login to the flow
  .github/workflows/linting.yml
Due: none
